*{
    box-sizing: border-box;
}
*:focus{
    outline: none;
}
body{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
a{
    text-decoration: none;
}
.header{
    display: flex;
    align-items: center;
    padding: 20px 70px 0 32px;
    margin-bottom: 30px;
}
.menu-button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 20px;
    height: 17px;
    padding: 0;
    border: none;
    background-color: #fff;

    cursor: pointer;
}
.menu-line{
    display: block;
    width: 20px;
    height: 3px;
    border-radius: 20px;
    background-color: #1F2022;
}
.logo{
    margin-left: 28px;
}
.input-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    max-width: 830px;
    margin-left: 59px;
    padding-right: 17px;
    border-radius: 22px;
    background-color: #EBEBEB;
}
.input-search{
    width: 100%;
    padding: 12px 23px;
    background-color: transparent;
    border: none;
}
.button-search{
    width: 19px;
    height: 19px;
    padding: 0;
    border: none;
    background-color: transparent;

    cursor: pointer;
}
.icons-link:not(:last-child){
    margin-right: 50px;
}
.icons{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.icon{
    fill: #000;
}
.icon-menu{
    opacity: 0.24;
}
.icon-menu:hover{
    opacity: 1;
}
.user{
    margin-left: 45px;
}
.user-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.side-bar{
    padding-left: 32px;
}
.nav-menu{
    margin-top: 0;
    margin-bottom: 60px;
    padding: 0;
    list-style-type: none;
}
.nav-item .icon{
    fill: #898989;
}
.nav-item:not(last-child){
    margin-bottom: 28px;
}
.nav-link>svg{
    margin-right: 13px;
}
.nav-text{
    font-size: 16px;
}
.nav-link{
    display: flex;
    align-items: center;
    color: #898989;
}
.nav-link:hover{
    color: #f00;
}
.nav-link:hover .icon{
    fill: #f00;
}
.nav-image{
    width: 26px;
    height: 26px;
    margin-right: 10px;
    border-radius: 50%;
}
.subs{
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
}
.nav-menu:last-child:not(.nav > .nav-menu){
    margin-top: 104px;
}
